<!doctype html>
    <html >
        <head>
            <title>{{title}} </title>

            <style type="text/css">
                .error {
                    color: red;
                }

             </style>
        </head>

        <div style='float: left'>
              <a href="/">Home</a>&nbsp;&nbsp;
              <a href="/blog">All Posts</a> &nbsp;&nbsp;
              <a href="/newpost">New Post</a>
        </div>

        <div style='float: right'>
                <a href="/login">login </a>&nbsp;&nbsp;
                <a href="/logout">logout </a>
        </div>

        <br>
        <br>

        <body>

            {% block content %}
            {% endblock %}


        </body>
</html>
